body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1.titulo {
    font-family: 'Courier New', Courier, monospace;
    color: #2c3e50;
}

form, #resultado, #pagamento {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 300px;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input, select, button {
    padding:
